{
    "basePath": "/",
    "info": {
        "title": "Gateway MS Digital",
        "version": "1.9.17",
        "description": "This web API was built to demonstrate some of the hapi features and functionality."
    },
    "tags": [
        {
            "name": "assistencia-social",
            "description": "Api Assistencia Social"
        },
        {
            "name": "cultura-e-esporte",
            "description": "Api Cultura e Esporte"
        },
        {
            "name": "educacao",
            "description": "Api Educação"
        },
        {
            "name": "gsi",
            "description": "Api GSI"
        },
        {
            "name": "ibge",
            "description": "Api IBGE"
        },
        {
            "name": "meio-ambiente",
            "description": "Api Meio Ambiente"
        },
        {
            "name": "mulher",
            "description": "Api Mulher"
        },
        {
            "name": "nota-premiada",
            "description": "Api Nota Premiada"
        },
        {
            "name": "noticias",
            "description": "Api Notícias"
        },
        {
            "name": "procon",
            "description": "Api Procon"
        },
        {
            "name": "saude",
            "description": "Api Saúde"
        },
        {
            "name": "seguranca",
            "description": "Api Segurança"
        },
        {
            "name": "servidor publico",
            "description": "Api Servidor Público"
        },
        {
            "name": "transito",
            "description": "Api Trânsito"
        },
        {
            "name": "transparencia-despesa",
            "description": "Api Transparência Despesas"
        },
        {
            "name": "transparencia-passagens",
            "description": "Api Transparência Passagens"
        },
        {
            "name": "transparencia-receitas",
            "description": "Api Transparência Receitas"
        },
        {
            "name": "transparencia-servidor",
            "description": "Api Transparência Servidores"
        },
        {
            "name": "transparencia-diaria",
            "description": "Api Transparência Diárias"
        },
        {
            "name": "health",
            "description": "Health Check"
        },
        {
            "name": "gov-br",
            "description": "Api Gov Br"
        },
        {
            "name": "log",
            "description": "Api de log"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "securityDefinitions": {
        "keycloak": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "security": [
        {
            "keycloak": []
        }
    ],
    "swagger": "2.0",
    "host": "api.sgi.ms.gov.br",
    "paths": {
        "/d0526/msdigital-gateway/v1/gov-br": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1Govbr",
                "description": "Retorna os dados do usuário logado no gov.br",
                "parameters": [
                    {
                        "type": "string",
                        "name": "token",
                        "in": "query"
                    }
                ],
                "tags": [
                    "gov-br"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "operationId": "postD0526MsdigitalgatewayV1Govbr",
                "description": "Retorna o token de acesso do gov.br",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Model201"
                        }
                    }
                ],
                "tags": [
                    "gov-br"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/noticias": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1Noticias",
                "description": "Consulta de notícias do portal do Governo do Estado",
                "parameters": [
                    {
                        "type": "number",
                        "name": "pagina",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "noticias"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model2"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/assistencia-social/passe-livre": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1AssistenciasocialPasselivre",
                "description": "Consulte os dados do cartão Passe Livre",
                "parameters": [
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "name": "dataNascimento",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "assistencia-social",
                    "passe-livre"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model3"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/cultura-e-esporte/carteira-do-atleta": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1CulturaeesporteCarteiradoatleta",
                "description": "Consulta e validação da carteira do atleta",
                "parameters": [
                    {
                        "type": "string",
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "codigoInscricao",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "cultura-e-esporte"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model5"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/gsi/dominios": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1GsiDominios",
                "description": "Lista de domínios do GSI",
                "tags": [
                    "gsi"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model8"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/ibge/estados": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1IbgeEstados",
                "description": "Consulta de estados",
                "tags": [
                    "ibge"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model11"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/ibge/municipios-ms": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1IbgeMunicipiosms",
                "description": "Consulta municípios do MS",
                "tags": [
                    "ibge"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model11"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/meio-ambiente/autorizacao-de-pesca": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1MeioambienteAutorizacaodepesca",
                "description": "Consulta de autorizações de pesca.<br/><br/>Para consultar a autorização, é necessário informar um dos dois parâmetros: CPF ou Passaporte/Documento de Identificação Estrangeira.",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "maxLength": 18,
                        "name": "identificacaoEstrangeira",
                        "in": "query"
                    }
                ],
                "tags": [
                    "meio-ambiente"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model14"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/meio-ambiente/previsoes": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1MeioambientePrevisoes",
                "description": "Consulta de previsões semanais.",
                "parameters": [
                    {
                        "type": "number",
                        "minimum": 1000,
                        "maximum": 9999,
                        "name": "ano",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 12,
                        "name": "mes",
                        "in": "query"
                    }
                ],
                "tags": [
                    "meio-ambiente"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model17"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/meio-ambiente/processo-licenciamento": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1MeioambienteProcessolicenciamento",
                "description": "Consulta de processo de licenciamento.",
                "parameters": [
                    {
                        "type": "string",
                        "name": "cpfCnpj",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "numeroProcesso",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "meio-ambiente"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/nota-premiada/{cpf}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1NotapremiadaCpf",
                "description": "Retorna se o usuário foi premiado na nota premiada",
                "parameters": [
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "nota-premiada"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model19"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/procon/tipo-denuncia": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ProconTipodenuncia",
                "description": "Consulta de tipos de denúncias do Procon",
                "tags": [
                    "procon"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model22"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/procon/tipo-local": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ProconTipolocal",
                "description": "Consulta de tipos de locais de denúncias do Procon",
                "tags": [
                    "procon"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model22"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/baixar-laudo-lacen": {
            "get": {
                "summary": "Realiza o download do laudo de exames com base no id de requisição pesquisado.",
                "operationId": "getD0526MsdigitalgatewayV1SaudeBaixarlaudolacen",
                "parameters": [
                    {
                        "type": "string",
                        "name": "idRequisicao",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/carteira-de-vacinacao": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SaudeCarteiradevacinacao",
                "description": "Consulta de Carteira de Vacinação Digital",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 15
                        },
                        "name": "cns",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model26"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/estabelecimentos-de-saude": {
            "get": {
                "summary": "Lista os Estabelecimentos de Saúde filtrados",
                "operationId": "getD0526MsdigitalgatewayV1SaudeEstabelecimentosdesaude",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Código do município",
                        "default": null,
                        "name": "municipio",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "description": "Código do tipo de estabelecimento",
                        "default": null,
                        "name": "tipo",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "description": "Código do estabelecimento de saúde",
                        "default": null,
                        "name": "estabelecimento",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "description": "Código do turno de atendimento",
                        "default": null,
                        "name": "turno",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model29"
                        },
                        "description": "OK"
                    },
                    "402": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/medicamentos": {
            "get": {
                "summary": "Consulta de medicamentos disponíveis para retirada na Casa de Saúde",
                "operationId": "getD0526MsdigitalgatewayV1SaudeMedicamentos",
                "parameters": [
                    {
                        "type": "string",
                        "name": "controle",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "name": "descricao",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "name": "fornecedor",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "name": "cid",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "name": "idadeMinima",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "name": "idadeMaxima",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model32"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/pdf-carteira-vacinacao-de-rotina": {
            "get": {
                "summary": "Retorna o arquivo pdf da carteira de vacinação de rotina",
                "operationId": "getD0526MsdigitalgatewayV1SaudePdfcarteiravacinacaoderotina",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/resultado-de-exames-hemosul": {
            "get": {
                "summary": "Lista os resultados de exames do HEMOSUL para o usuário autenticado",
                "operationId": "getD0526MsdigitalgatewayV1SaudeResultadodeexameshemosul",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model35"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/resultado-exames-lacen": {
            "get": {
                "summary": "Lista o resultado de exames com base nos dados pesquisados.",
                "operationId": "getD0526MsdigitalgatewayV1SaudeResultadoexameslacen",
                "parameters": [
                    {
                        "type": "string",
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "name": "dataNascimento",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "codigoRequisicao",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nomeMae",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/vacinacao-de-rotina": {
            "get": {
                "summary": "Lista as vacinas recebidas pelo o usuário autenticado",
                "operationId": "getD0526MsdigitalgatewayV1SaudeVacinacaoderotina",
                "parameters": [
                    {
                        "type": "string",
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ordenarPor",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "boolean",
                        "name": "desc",
                        "in": "query",
                        "required": false
                    },
                    {
                        "type": "string",
                        "name": "codigoVerificacao",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/seguranca/municipios": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SegurancaMunicipios",
                "description": "Lista os municípios de Mato Grosso do Sul",
                "tags": [
                    "seguranca"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model39"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/autenticacao-cpf": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoAutenticacaocpf",
                "description": "Autenticação no Portal do Servidor<br/><br/>A informação \"credenciais-servidor\" é obtida através da codificação em Base64 do CPF e senha, \n utilizadas para acessar o Portal do Servidor, da seguinte maneira: cpf:senha",
                "parameters": [
                    {
                        "type": "string",
                        "name": "credenciais-servidor",
                        "in": "header",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model41"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/carteira-funcional": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoCarteirafuncional",
                "description": "Consulta de carteira funcional",
                "parameters": [
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "name": "matricula",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model43"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/contracheques": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoContracheques",
                "description": "Consulta de contracheques no Portal do Servidor",
                "parameters": [
                    {
                        "type": "string",
                        "name": "token-servidor",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "ano",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "mes",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "numeroPerfil",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model47"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/rendimentos": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoRendimentos",
                "description": "Consulta de informe de rendimentos no Portal do Servidor",
                "parameters": [
                    {
                        "type": "string",
                        "name": "token-servidor",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "ano",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "numeroPerfil",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model50"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/validacao-carteira-funcional": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoValidacaocarteirafuncional",
                "description": "Validação de carteira funcional através do token",
                "parameters": [
                    {
                        "type": "string",
                        "name": "authorization-carteira-funcional",
                        "in": "header",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model51"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "operationId": "postD0526MsdigitalgatewayV1ServidorpublicoValidacaocarteirafuncional",
                "description": "Validação de carteira funcional através dos dados de autenticação",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Model219"
                        }
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model221"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/transparencia/despesas": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1TransparenciaDespesas",
                "description": "Consulta despesas.\nO método serve tanto para consulta do módulo de \"Despesa\" como também para \"Detran - Destinação de Multa\".\nO parâmetro \"proj_ativ_id\" é utilizado apenas para a consulta do Detran. Utilizar o \"codigo\" do \"proj_ativ_id\" no parâmetro para realizar a consulta.\nPara busca do credor utilize o Nome ou Id do mesmo.\nAo consultar a despesa passando somente a \"data inicio\" e \"data fim\", será retornado toda a listagem de orgãos e credores.\nAo consultar a despesa passando as \"datas\" e o \"orgão\", será retornado somente a listagem do orgão passado como parâmetro.\nAo consultar a despesa passando as \"datas\" e o \"credor\", será retornado somente a listagem do credor passado como parâmetro.\nAo consultar o detran passando as \"datas\" e o \"proj_ativ_id\", será retornado uma listagem do orgão presente na mesma.\nAo consultar a despesa passando as \"datas\", um \"credor/orgão\" e o \"elementoDespesaId\" será retornando uma lista de detalhes.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AAAA-MM-DD.",
                        "name": "dataInicio",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "AAAA-MM-DD.",
                        "name": "dataFim",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "unidadeGestora",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "credor",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "elementoDespesaId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "codigo(proj_ativ_id)",
                        "name": "proj_ativ_id",
                        "in": "query"
                    }
                ],
                "tags": [
                    "transparencia-despesa"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model64"
                        }
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/transparencia/diarias": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1TransparenciaDiarias",
                "description": "Consulta das diárias retornadas no ano.",
                "parameters": [
                    {
                        "type": "number",
                        "name": "anoConsulta",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "mesConsulta",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "orgao",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "localidadeOrigem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "nome",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "cpf",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "localidadeDestino",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "pageno",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "pagesize",
                        "in": "query"
                    }
                ],
                "tags": [
                    "transparencia-diaria"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model66"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/transparencia/passagens": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1TransparenciaPassagens",
                "description": "Consulta das passagens retornadas no ano.",
                "parameters": [
                    {
                        "type": "number",
                        "name": "anoConsulta",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "mesConsulta",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "orgao",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "localidadeOrigem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "nome",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "cpf",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "localidadeDestino",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "pageno",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "pagesize",
                        "in": "query"
                    }
                ],
                "tags": [
                    "transparencia-passagens"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model68"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/transparencia/servidores": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1TransparenciaServidores",
                "description": "Consulta dos servidores retornados no ano.",
                "parameters": [
                    {
                        "type": "number",
                        "name": "anoexercicio",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "mesCompetencia",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "orgao",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "vinculo",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "nome",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "cpf",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "É necessário informar o ID da situação.",
                        "name": "situacao",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "pageno",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "pagesize",
                        "in": "query"
                    }
                ],
                "tags": [
                    "transparencia-servidor"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model70"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/assistencia-social/cras/municipios": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1AssistenciasocialCrasMunicipios",
                "description": "Listar os municípios para consulta de CRAS",
                "tags": [
                    "assistencia-social"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model73"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/assistencia-social/cras/{id}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1AssistenciasocialCrasId",
                "description": "Encontra um CRAS pelo id",
                "parameters": [
                    {
                        "type": "number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "assistencia-social"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model75"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/assistencia-social/passe-livre/{token}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1AssistenciasocialPasselivreToken",
                "description": "Validação do cartão Passe Livre",
                "parameters": [
                    {
                        "type": "string",
                        "name": "token",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "assistencia-social",
                    "passe-livre"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model3"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/educacao/cdiems/instituicoes-de-ensino": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1EducacaoCdiemsInstituicoesdeensino",
                "description": "Consulta de instituições de ensino",
                "parameters": [
                    {
                        "type": "string",
                        "name": "municipio",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "educacao"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model78"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/educacao/cdiems/municipios": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1EducacaoCdiemsMunicipios",
                "description": "Consulta de municípios",
                "tags": [
                    "educacao"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model82"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/ibge/endereco/{cep}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1IbgeEnderecoCep",
                "description": "Consulta endereço através do CEP",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 8
                        },
                        "name": "cep",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "ibge"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model84"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/ibge/municipio/{idMunicipio}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1IbgeMunicipioIdmunicipio",
                "description": "Consulta um município a partir do id",
                "parameters": [
                    {
                        "type": "number",
                        "name": "idMunicipio",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "ibge"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model85"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Dados inválidos"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Município não encontrado"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/ibge/municipios/{idEstado}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1IbgeMunicipiosIdestado",
                "description": "Consulta municípios do MS",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 2
                        },
                        "name": "idEstado",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "ibge"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model11"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/meio-ambiente/autorizacao-de-pesca/pdf": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1MeioambienteAutorizacaodepescaPdf",
                "description": "Emite a Carteira de Pesca em PDF para impressão",
                "parameters": [
                    {
                        "type": "string",
                        "name": "codigoDeSeguranca",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "maxLength": 18,
                        "name": "identificacaoEstrangeira",
                        "in": "query"
                    }
                ],
                "tags": [
                    "meio-ambiente"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model87"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/cartao/{cpf}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SaudeCartaoCpf",
                "description": "Consulta o cartão do SUS",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model89"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/cartao-do-doador-de-sangue/declaracao": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SaudeCartaododoadordesangueDeclaracao",
                "description": "Baixa a declaração do cartão do doador de sangue.",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "name": "idDoador",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model91"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/cartao-do-doador-de-sangue/pdf": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SaudeCartaododoadordesanguePdf",
                "description": "Emite o Cartão de Doador de Sangue em PDF para impressão",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "name": "idDoador",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model92"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/cartao-do-doador-de-sangue/{cpf}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SaudeCartaododoadordesangueCpf",
                "description": "Consulta o Cartão de Doador de Sangue de um usuário",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model94"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/carteira-de-vacinacao/pdf": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SaudeCarteiradevacinacaoPdf",
                "description": "Baixa o PDF do cartão de vacinação",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 15
                        },
                        "name": "cns",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model96"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Unauthorized"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/estabelecimentos-de-saude/municipios": {
            "get": {
                "summary": "Lista os munícipios para filtragem de Estabelecimentos de Saúde",
                "operationId": "getD0526MsdigitalgatewayV1SaudeEstabelecimentosdesaudeMunicipios",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model99"
                        },
                        "description": "OK"
                    },
                    "402": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/estabelecimentos-de-saude/tipos": {
            "get": {
                "summary": "Lista os tipos de estabelecimento para filtragem de Estabelecimentos de Saúde",
                "operationId": "getD0526MsdigitalgatewayV1SaudeEstabelecimentosdesaudeTipos",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model101"
                        },
                        "description": "OK"
                    },
                    "402": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/estabelecimentos-de-saude/turnos-de-atendimento": {
            "get": {
                "summary": "Lista os turnos de atendimento para filtragem de Estabelecimentos de Saúde",
                "operationId": "getD0526MsdigitalgatewayV1SaudeEstabelecimentosdesaudeTurnosdeatendimento",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model103"
                        },
                        "description": "OK"
                    },
                    "402": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/medicamentos/cid": {
            "get": {
                "summary": "Lista os CIDs permitidos para filtragem na consulta de medicamentos",
                "operationId": "getD0526MsdigitalgatewayV1SaudeMedicamentosCid",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model106"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/medicamentos/controle": {
            "get": {
                "summary": "Lista os tipos de controle de medicamentos para filtragem na consulta",
                "operationId": "getD0526MsdigitalgatewayV1SaudeMedicamentosControle",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model109"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/medicamentos/descricao": {
            "get": {
                "summary": "Lista as descrições disponível para filtragem na consulta de medicamentos",
                "operationId": "getD0526MsdigitalgatewayV1SaudeMedicamentosDescricao",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model112"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/medicamentos/idade-maxima": {
            "get": {
                "summary": "Lista as idades máximas para filtro da consulta de medicamentos",
                "operationId": "getD0526MsdigitalgatewayV1SaudeMedicamentosIdademaxima",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model114"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/saude/medicamentos/idade-minima": {
            "get": {
                "summary": "Lista as idades mínimas para filtro da consulta de medicamentos",
                "operationId": "getD0526MsdigitalgatewayV1SaudeMedicamentosIdademinima",
                "tags": [
                    "saude"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model114"
                        },
                        "description": "OK"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/seguranca/delegacia/{idDelegacia}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1SegurancaDelegaciaIddelegacia",
                "description": "Obtém uma delegacia a partir do id",
                "parameters": [
                    {
                        "type": "string",
                        "name": "idDelegacia",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "seguranca"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model119"
                        },
                        "description": "OK"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Bad Request"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/bim/{cpf}": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoBimCpf",
                "description": "Recupera uma lista de boletins de perícia médica pelo CPF do servidor",
                "parameters": [
                    {
                        "type": "string",
                        "maxLength": 11,
                        "pattern": "^\\d+$",
                        "x-constraint": {
                            "length": 11
                        },
                        "name": "cpf",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model122"
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Parâmetros inválidos"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "O servidor não possui boletins"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/clube-beneficios/categorias": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoClubebeneficiosCategorias",
                "description": "Consulta de categorias de parcerias em Clube de Benefícios",
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model125"
                        },
                        "description": "Ok"
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Not found"
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/d0526/msdigital-gateway/v1/servidor-publico/contracheques/pdf": {
            "get": {
                "operationId": "getD0526MsdigitalgatewayV1ServidorpublicoContrachequesPdf",
                "description": "Consulta de contracheques no Portal do Servidor",
                "parameters": [
                    {
                        "type": "string",
                        "name": "token-servidor",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "ano",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "name": "mes",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "numeroPerfil",
                        "in": "query",
                        "required": true
                    }
                ],
                "tags": [
                    "servidor publico"
                ],
                "responses": {
                    "200": {
                        "schema": {
[...]
